.footer {
  .section-layer {
    padding: 3rem 0;
    display: block;
    .box-content {
      width: 100%;
      max-width: 100%;
      text-align: center;
      color: #808693;
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}
