.link {
  text-decoration: underline;
  cursor: pointer;
  font-family: $font1;
  &:hover {
    text-decoration: none;
  }
}
.lowercase {
  text-transform: lowercase;
}
.btn {
  @include btn;
}

p {
  margin: 0;
}
